{% extends "BeregIndexBundle::main_page.html.twig" %}{% set a8 = "openMenu" %}

{% block title %} Статьи {% endblock %}

{% block keywords %} Статьи {% endblock %}

{% block description %} Статьи {% endblock %}

{% block title_text %} Статьи {% endblock %}

{% block body_text %}
    <h2>Статьи</h2>
    <p>Это страница в стадии разработки</p>

{% endblock %}