{% extends "BeregIndexBundle::main_page.html.twig" %}

{% block content %}

    <div id="content-990p">
        <div class="titlename top5">
            <div class="secNav">
                <a href="/termoplastavtomaty-kitai" class="{{ a4b1c }}">Термопластавтоматы</a>
            </div>
        </div>
        <div class="content">
            <div id="model-prod">
                <h1>{% block title_text %} Ice cream and popsicles machines - intermediates {% endblock %}</h1>

                {% block body_text %} {% endblock %}
            </div>
            <br class="c">
        </div>
        <!--/content-->
        <div class="footerContent">
            <ul class="lista3-col">
                <li>
                    <h3 class="titlename top5">Specials and Releases </h3>

                    <div>
                        <ol>
                            <li>
                                <h4><a href="/en/noticias/2012/04/227/kit-ice-cream-production">Kit Ice-cream
                                    Production!</a></h4>

                                <p>The complete kit for your Ice-cream production!</p>
                            </li>
                            <li>
                                <h4>
                                    <a href="/en/noticias/2012/04/224/gyrofiller-automatic-equipment-for-ice-cream-filling-and-packing">Gyrofiller
                                        - Automatic Equipment for ice cream filling and packing</a></h4>

                                <p>GYROFILLER - ROTARY MACHINE TO FILL, PACK AND LABEL ICE CREAM CONTAINERS</p>
                            </li>
                            <li>
                                <h4><a href="/en/noticias/2012/02/137/kit-200-start-your-own-business">Kit 200 - Start
                                    your own business!</a></h4>

                                <p>Complete kit to star your own business!</p>
                            </li>
                            <li>
                                <h4><a href="/en/noticias/2012/01/131/kit-gelato">Kit Gelato</a></h4>

                                <p>Produce delicous italian Gelato with quality and lowest price!</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li>
                    <h3 class="titlename top5">Courses: ice cream and chocolate </h3>

                    <div>
                        <ol>
                            <li>
                                <h4><a href="/en/cursos"><strong>29/11</strong>: Promotional Combo: Ice Cream Begginer +
                                    Ice Cream Market</a></h4>

                                Finamac has prepared a&nbsp;Promotional&nbsp;Combo:...
                            </li>
                            <li>
                                <h4><a href="/en/cursos"><strong>03/12</strong>: Ice Cream Market </a></h4>
                                Aimed at new entrepreneurs who are just starting out...
                            </li>
                            <li>
                                <h4><a href="/en/cursos"><strong>05/12</strong>: </a></h4>

                            </li>
                            <li>
                                <h4><a href="/en/cursos"><strong>06/12</strong>: Ice Cream - Beginners</a></h4>
                                Consists of the Theory of Ice Cream, including the...
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="ultima">
                    <h3 class="titlename top5">News</h3>

                    <div>
                        <ol>
                            <li>
                                <h4>
                                    <a href="/en/noticias/2012/11/408/sigep-2013-the-salon-international-ice-cream-pastry-and-bakery-craft.">SIGEP
                                        2013 - The Salon International Ice Cream, Pastry and Bakery Craft.</a></h4>

                                <p>SIGEP, is the Salon International Ice Cream, Pastry and Bakery Craft. The fair
                                    remains one of the world's most important sector of artisanal ice cream, and how
                                    exposure predominant European artisan candy, still consolidating sector of artisanal
                                    baking.</p>
                            </li>
                            <li>
                                <h4><a href="/en/noticias/2012/11/401/automatic-rotary-filling-machine-for-ice-cream">AUTOMATIC
                                    ROTARY FILLING MACHINE FOR ICE CREAM</a></h4>

                                <p>Optimizes working time and enables the diversification of your products.</p>
                            </li>
                            <li>
                                <h4>
                                    <a href="/en/noticias/2012/11/402/super-c-continuous-production-of-ice-cream-aerated">Super
                                        C Continuous Production of ice cream aerated</a></h4>

                                <p>Produce in a continuous way up to 200 liters.</p>
                            </li>
                            <li>
                                <h4><a href="/en/noticias/2012/11/403/increase-your-production">Increase Your
                                    Production</a>
                                </h4>

                                <p>With the Turbo 25 is a producer of high performance popsicles.</p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
            <br class="c">

            <div id="getBlog">
                <div id="footerSlider">
                    <ul id="footerPics">
                        <li class="active" rel="0" style="display: list-item;">
                            <a href="http://www.finamac.com.br/en/produtos"><img width="820" height="349" border="0" src="/contentFiles/image/galleries/footer-en/footer-familia-finamac-en.jpg"></a>
                        </li>
                        <li rel="1" class="" style="display: none;">
                            <a href="http://www.finamac.com.br/en/produtos/intermediario/maquina-sorvete-super-c2"><img width="820" height="349" border="0" src="/contentFiles/image/galleries/footer-en/supercplus-en.jpg"></a>
                        </li>
                        <li rel="2" class="" style="display: none;">
                            <a href="http://www.finamac.com.br/en/produtos/industrial/maquina-sorvete-gyrofiller"><img width="820" height="349" border="0" src="/contentFiles/image/galleries/footer-en/gyrofiller-banner-botton-en.jpg"></a>
                        </li>
                        <li rel="3" class="" style="display: none;">
                            <a href="http://www.finamac.com.br/en/produtos/industrial/maquina-sorvete-if-900"><img width="820" height="349" border="0" src="/contentFiles/image/galleries/footer-en/footer-if900-en.jpg"></a>
                        </li>
                        <li rel="4" class="" style="display: none;">
                            <img width="820" height="349" border="0" src="/contentFiles/image/galleries/footer-en/footer-suprema-br.jpg">
                        </li>
                        <li rel="5" class="" style="display: none;">
                            <img width="820" height="349" border="0" src="/contentFiles/image/galleries/footer-en/chocolate-modelagem4.jpg">
                        </li>
                        <li rel="6" class="" style="display: none;">
                            <a href="http://www.finamac.com.br/en/produtos/chocolate/maquina-chocomachine"><img width="820" height="349" border="0" src="/contentFiles/image/galleries/footer-en/banner-inferior-chocomachine-en.jpg"></a>
                        </li>
                        <li rel="7" class="" style="display: none;">
                            <a href="http://www.finamac.com.br/en/produtos/industrial/maquina-sorvete-titan-12"><img width="820" height="349" border="0" src="/contentFiles/image/galleries/footer-en/banner-inferior-titan12-en.jpg"></a>
                        </li>
                        <li rel="8" class="" style="display: none;">
                            <a href="http://www.finamac.com.br/en/produtos/iniciante/maquina-sorvete-turbo-8"><img width="820" height="349" border="0" src="/contentFiles/image/galleries/footer-en/banner-inferior-turbo8-en.jpg"></a>
                        </li>
                    </ul>
                    <ul id="footerpagination">
                        <li class="active"><a rel="footerPics_0" href="#">1</a></li>
                        <li class=""><a rel="footerPics_1" href="#">2</a></li>
                        <li class=""><a rel="footerPics_2" href="#">3</a></li>
                        <li class=""><a rel="footerPics_3" href="#">4</a></li>
                        <li class=""><a rel="footerPics_4" href="#">5</a></li>
                        <li class=""><a rel="footerPics_5" href="#">6</a></li>
                        <li class=""><a rel="footerPics_6" href="#">7</a></li>
                        <li class=""><a rel="footerPics_7" href="#">8</a></li>
                        <li class=""><a rel="footerPics_8" href="#">9</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div style="padding-top: 15px;" id="sidebar"><h3 class="titlename top5"><span>Pasteurizer Plant</span></h3>
            <a href="http://www.finamac.com.br/en/produtos/industrial/maquina-sorvete-ppl-600"><img width="160" height="592" alt="Pasteurizer Plant" src="/contentFiles/image/industrial-lateral-ingles.jpg"></a>
        </div>
        <br class="c">
    </div>
{% endblock %}

{% block sidebar %} {% endblock %}