{% extends "BeregIndexBundle::product_list_layout.html.twig" %}
{% set a4 = "openMenu" %}
{% set a4b1 = "openMenu" %}
{% set a4b1c = "aberto" %}

{% block title %} Термопластавтоматы Китай {% endblock %}

{% block keywords %} термопластавтомат, Китай, серия, Yongjiang, производство, изделий, пластмасса, пластик, заготовка, машина {% endblock %}

{% block description %} Компания «Берег» поставляет современные термопластавтоматы из Китая {% endblock %}

{% block title_text %} Термопластавтоматы Китай {% endblock %}

{% block body_text %}
    <p>Компания «Берег» поставляет современные, надежные и высокотехнологичные термопластавтоматы из Китая. На нашем
        сайте представлен широкий модельный ряд оборудования из Китая для литья под давлением. Поэтому наши клиенты
        всегда могут сделать оптимальный выбор и подобрать термопластавтоматы под конкретное производство.</p>

    <p><strong>Термоплставтоматы из Китая</strong> – современные станки, служащие для производства пластмассовых изделий
        и заготовок методом литья под давлением. Сырьем для такого вида оборудования служат термопластичные материалы и
        их разновидности. Особенность термопластавтоматов, предлагаемых нашей компанией, высокая экономия электроэнергии
        (порядка 30-50%%), продолжительный срок службы, низкий уровень нагрева, возможность использования в качестве
        сырья плевой фракции, наполнителей, дробленки.</p>
    <p>Все представленные термопластавтоматы из Китая соответствуют ГОСТ и международным стандартам.</p>

    <h2>Преимущества поставляемых термопластавтоматов</h2>
    <p>Вся линейка представленных термопластавтоматов обладает следующими преимуществами:</p>

    <ul>
        <li>Автоматизированная система управления с переводом на русский язык</li>
        <li>Технологичная компоновка узлов</li>
        <li>Надежная гидравлика</li>
        <li>Автоматическая система диагностики и контроля</li>
        <li>Программирование параметров работы</li>
        <li>Поддержка оптимальных режимов работы</li>
        <li>Автоматическая смазка рабочих и трущихся поверхностей</li>
        <li>Удобный интерфейс на русском языке</li>
        <li>Высокие скорости циклов, дают возможность изготавливать тонкостенные детали</li>
        <li>Возможность производить сложных деталей</li>
    </ul>

    <h2>Серия термопластавтоматов из Китая.</h2>
    <p>Серия машин для литья пластмассы под давлением компании Yongjiang Group</p>

    <ul class="list">
        <li>
            <a href="/"><img src="https://docs.google.com/document/pubimage?id=1YLsaXwKdiHh3RS-5h3K3czqCDhGjSFhYATtSHDITVB4&image_id=16siTNSWyDyna_EZFfLPQ8k97JoBTJmc" alt="Термопластавтомат YJ800"></a>

            <h3>Термопластавтомат YJ800</h3>
            <span class="desc">самая миниатюрная в своем классе машина. Предназначена для производства небольших изделий из пластмассы. Технические характеристики: диаметр шнека 32-38 мм., объем впрыска 95-149 г., скорость впрыска 80-97 г/сек. <a href="">Подробнее о YJ800>>></a></span>
        </li>
        <li>
            <a href="/"><img src="https://docs.google.com/document/pubimage?id=1YLsaXwKdiHh3RS-5h3K3czqCDhGjSFhYATtSHDITVB4&image_id=16siTNSWyDyna_EZFfLPQ8k97JoBTJmc" alt="" height="153" width="202"></a>

            <h3>Термопластавтомат YJ800</h3>
            <span class="desc">самая миниатюрная в своем классе машина. Предназначена для производства небольших изделий из пластмассы. Технические характеристики: диаметр шнека 32-38 мм., объем впрыска 95-149 г., скорость впрыска 80-97 г/сек. <a href="">Подробнее о YJ800>>></a></span>
        </li>
        <li>
            <a href="/"><img src="https://docs.google.com/document/pubimage?id=1YLsaXwKdiHh3RS-5h3K3czqCDhGjSFhYATtSHDITVB4&image_id=16siTNSWyDyna_EZFfLPQ8k97JoBTJmc" alt="" height="153" width="202"></a>

            <h3>Термопластавтомат YJ800</h3>
            <span class="desc">самая миниатюрная в своем классе машина. Предназначена для производства небольших изделий из пластмассы. Технические характеристики: диаметр шнека 32-38 мм., объем впрыска 95-149 г., скорость впрыска 80-97 г/сек. <a href="">Подробнее о YJ800>>></a></span>
        </li>
        <li>
            <a href="/"><img src="https://docs.google.com/document/pubimage?id=1YLsaXwKdiHh3RS-5h3K3czqCDhGjSFhYATtSHDITVB4&image_id=16siTNSWyDyna_EZFfLPQ8k97JoBTJmc" alt="" height="153" width="202"></a>

            <h3>Термопластавтомат YJ800</h3>
            <span class="desc">самая миниатюрная в своем классе машина. Предназначена для производства небольших изделий из пластмассы. Технические характеристики: диаметр шнека 32-38 мм., объем впрыска 95-149 г., скорость впрыска 80-97 г/сек. <a href="">Подробнее о YJ800>>></a></span>
        </li>
        <li>
            <a href="/"><img src="https://docs.google.com/document/pubimage?id=1YLsaXwKdiHh3RS-5h3K3czqCDhGjSFhYATtSHDITVB4&image_id=16siTNSWyDyna_EZFfLPQ8k97JoBTJmc" alt="" height="153" width="202"></a>

            <h3>Термопластавтомат YJ800</h3>
            <span class="desc">самая миниатюрная в своем классе машина. Предназначена для производства небольших изделий из пластмассы. Технические характеристики: диаметр шнека 32-38 мм., объем впрыска 95-149 г., скорость впрыска 80-97 г/сек. <a href="">Подробнее о YJ800>>></a></span>
        </li>
    </ul>
    <br class="c">
{% endblock %}